body {
      font-family: Roboto;
      margin: 0;
      background: #343233;
}

@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}


div.icon
{
	width: 30px;
	    display: unset;
}
div.section-hero
{
	padding: 58px;

}
.main-title {
    font-family: 'futura-pt';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 20px;
    display: inline-block;
    border: 2px solid #000;
    padding: 3px 8px;
    color: #000;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.placeBox {
    position: relative;
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
    background: #000;
    margin-top: 50px;
    z-index: 0;
}
.placeBox .imgBx {
    width: 100%;
}
.placeBox .imgBx img {
    object-fit: contain;
    width: 160px;
    height: 160px;
}
.img-fluid {
    max-width: 80%;
    padding-left: 42px;
    VERTICAL-ALIGN: middle;
}
img {
    border-style: none;
}
.placeBox .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    background-color: currentColor;
    z-index: -1;
}
.placeBox .content h3 {
    position: relative;
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255,255);
    color: #000;
    font-size: 20px;
    font-weight: 450;
    width: 100%;
    text-align: center;
}
.placeBox .content h3 span {
    font-size: 16px;
    font-weight: 500;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}


:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}



p.modal-h
{
font-weight: 300;
	padding-left: 0px;
	FONT-SIZE: 20px;
	 color: #282627;
	 font-family: 'Poppins',sans-serif;
}
p.modal-p
{
	 color: #282627;
	 FONT-SIZE: 18PX;
}
.modal-content {
  margin: 10% auto;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
  color: white;
}
.modal-header {
  background: #28a745;
  padding: 15px;
  color: #fff;
      font-size: x-large;'
	  
}

.modal-body {
  padding: 10px 20px;
  background: #f1f1f1;;
  font-family: poppins;
    font-weight: 300;
}

.modal-footer {
  background: #28a745;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.close {
  color: #ccc;
  float: right;
  font-size: 29px;
  color: #fff;
  font-weight: 600;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { 
width: 100%; 
height: auto; 
    margin-bottom: 0px;
    margin-top: -40px;
	}
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; 
      padding: 2.2rem;
    margin-bottom: 100px;
}

button.categories_btn
{
	    margin: 4px 0;
    padding: 20px 40px;
}

button.btn.btnD2 {
    border: 2px solid #fff;
}
button.btn.btnD2 {
    padding: 18px 25px;
}




ul.sci {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li {
    list-style: none;
    margin: 0 20px;
	   display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}



.fa{transition: transform .2s;}

.fa:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}


footer span {
      color: #343233;
      font-weight: 600;
	    font-size: 1.17rem;
}






.container {
      max-width: 1200px;
      text-align: center;
      margin: 0 auto;
      padding: 0 3rem;
}

@media screen and (max-width: 580px) {
      .container {
            padding: 0 2rem;
      }
}

h1, h2, h3 {
      font-weight: 300;
      margin-top: 0px;
      margin-bottom: 8px;
}
		button.categories_btn0 {
	 padding-left: 24px;
    padding-right: 24px;

}








h1 {
      font-size: 60px;
      color: #FFF;
	      FONT-WEIGHT: 100;
}

h2 {
      font-size: 35px;
      color: #8D8273;
}

h3 {
      font-size: 28px;
      color: #8D8273;
}

h4 {
      font-size: 20px;
      color: #8D8273;
      font-weight: 400;
      margin-bottom: 0;
}

p {
      margin: 20px 0;
      color: #8D8273;
      line-height: 24px;
    FONT-SIZE: 20PX;
}

img {
      margin: 20px 0;
      width: 100%;
}

button {
      outline: none;
      border: none;
      margin: 18px 0;
      padding: 20px 40px;
      background: #ffffff;
      font-family: Roboto;
      color: #282627;
      letter-spacing: 2px;
      font-weight: 800;
      text-transform: uppercase;
	   border: 2px solid #fff;
}
button:hover {
	cursor: pointer;
  background-color: #000; 
  color: white;
  border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;

   
}

i {
      font-size: 42px;
      letter-spacing: 14px;
}
h2.content1
{
	display: none;
}
h2.content2
{
	display: block;
}
div.content1
{
	display: none;
}

div.content2
{
	display: block;
	width: 70%;
}


/* fixed navigation */

nav {
      height: 60px;
      width: 100%;
      background-color: #ffffff;
      position: fixed;
	  z-index: 1;
-webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.3);
box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.3);
}

nav ul {
      padding: 0;
      margin: 0;
}

nav li {
      display: inline;
      float: left;
}

nav a {
       display: inline-block;
    width: 127px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: #282627;
	text-transform: uppercase;
	transition-duration: 0.2s;
}
	span.LEFTINTHEDARK
	{
		display: block;
	}
	span.LITD
	{
		display: none;
	}

a.nav-icons
{
	width:28px;
	    float: right;
}
div.icon-bar {
    margin-right: 40px;
}
nav a:hover {
    
	      text-decoration: overline underline;
		  
}

nav a#toggle-btn {
      display: none;
}

i.italicartists{
	
	font-size: inherit;
    letter-spacing: unset;
}
i.italicfooter
{
	font-size: 17px;
	letter-spacing: unset;
	
}
a.danotorious_beats_link
{
	color: #0085d6;
	  
}
textarea.form-control.textarea
{
min-height: 100px;
    overflow: auto;
    resize: vertical;
    height: 40px;
    width: 100%;
	    width: 80%;
    margin: 2em 0;
    background: none;
    border: 1px solid #8D8273;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    color: rgb(211, 165, 100);
	margin: 1em 0;
}



span.release-date
{
color: #8D8273;
    font-size: 15px;
    font-weight: 100;

}

span.track
{
    font-size: 18px;
    font-weight: 500;
}
svg{
	width: 20px;
    color: #28a745;
}



div.read-more{
    overflow: auto;
    margin-top: 42px;
    margin-right: 42px;
    margin-left: 42px;
}
h2.related-articles
{
	    color: #54595d;
    border-bottom: 0;
    padding-bottom: 0.5em;
    font-size: 0.8em;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media (min-width: 720px)

{
ul.ext-related-articles-card-list {
    border-top: 0;
}
li.ext-related-articles-card
{
	    border-radius: 2px;
		    border: 1px solid rgba(0,0,0,0.2);
    margin-right: 1%;
    margin-bottom: 10px;
    width: 32.66666667%;
}
}
ul.ext-related-articles-card-list
{
	
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    font-size: 1em;
    list-style: none;
    overflow: hidden;
    position: relative;
	padding-left: 0px;
	
}
div.ext-related-articles-card-thumb
{
	    box-sizing: border-box;
		    list-style: none;
			    background-color: #eaecf0;
    background-image: url(/w/extensions/RelatedArticles/resources/ext.relatedArticles.cards/noimage.png?9e3d8);
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2…13.8-4.5h-13.8v-1.8h13.8v1.8zm0-4.7h-13.8v-1.8h13.8v1.8z%22/%3E %3C/svg%3E);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    float: left;
    height: 100%;
    width: 80px;
    margin-right: 10px;
	    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: none;
}
a.readmoreboxlink
{
	    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
	    color: #6b4ba1;
}
a.readmoreboxlink:visited {
    color: #6b4ba1;
}
div.ext-related-articles-card-detail
{
	    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: none;
	    margin-left: 85px;

}
h3.h3Topic
{
font-family: poppins;
    font-weight: 400;
    font-size: 1em;
    max-height: 2.6em;
    line-height: 1.3;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
	    line-height: 1.3;
    word-wrap: break-word;
    word-break: break-word;
	    list-style: none;
		margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: none;
}
p.ext-related-articles-card-extract
{
	    color: #72777d;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
	    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: none;
}

li.ext-related-articles-card
{
    background-color: #fff;
    box-sizing: border-box;
    height: 80px;
    position: relative;
    width: 32%;
    border: 1px solid rgba(0,0,0,0.2);
	margin: 0 auto;
}
@media screen and (max-width: 992px){
			ul.ext-related-articles-card-list{
		   font-size: 15px;
	}
		button {
    font-size: 12px;
}
	div.content2 {
   
    width: 80%;
}
	span.release-date
{

    font-size: 15px;

}
		span.track
{
    font-size: 16.5px;
 
}
			.modal-header {
    
    font-size: larger;
 
}
.modal-header h2, .modal-footer h3 {
  
	      font-size: larger;
}
	p.modal-h
{

	FONT-SIZE: 1.1rem;
}
p.modal-p
{
	 color: #282627;
	 FONT-SIZE: 17PX;
}
	
		button.btn.btnD2 {
  padding: 20px 30px;
    font-weight: 700;
}

			button {
   padding: 20px 30px;
    font-weight: 700;
 
}
		p {
    FONT-SIZE: 19PX;
}
		h1 {
    font-size: 54px;
    color: #FFF;
    FONT-WEIGHT: 100;
	}
	h2 {
    font-size: 28px;
}

figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    width: 100%;
    font-size: 1.7rem;
    padding: 1.6rem;
    margin-bottom: 0px;
}
	figure.slider img { 
width: 100%; 
height: auto; 
    margin-bottom: 0px;
    margin-top: 50px;
	}
	
	
	.sci li {
    font-size: 1.9rem;
	    margin: 0 15px;
   
}
footer span {
      color: #343233;
      font-weight: 600;
	    font-size: 1.1rem;
}


}
@media screen and (max-width: 792px){

		span.release-date
{

    font-size: 14px;

}
	svg {
    width: 18px;

}
		span.track
{
    font-size: 16px;
 
}
		.modal-header {
    
    font-size: larger;
 
}
.modal-header h2, .modal-footer h3 {
  
	      font-size: larger;
}
			p.modal-h
{

	FONT-SIZE: 1.1rem;
}
p.modal-p
{
	 color: #282627;
	 FONT-SIZE: 16PX;
}
	.modal-content {
    margin: 27% auto;
    width: 95%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    mation-name: modalopen;
    animation-duration: var(--modal-duration);
}
button.btn.btnD2 {
    padding: 20px 18px;
    font-size: 11.5px;
}
			.fa{transition: transform .2s;}

.fa:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}
	button.categories_btn0 {
	 padding-left: 24px;
    padding-right: 24px;

}
		button {
   padding: 20px 25px;
    font-weight: bold;
 
}
	p {
    FONT-SIZE: 18PX;
}
	h1 {
    font-size: 51px;
    color: #FFF;
    FONT-WEIGHT: 100;
	}
	h2 {
    font-size: 27px;
}
	.sci li {
    font-size: 1.8rem;
	    margin: 0 15px;
   
}
	footer span {
      color: #343233;
      font-weight: 600;
	    font-size: 1.05rem;
}
figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    width: 100%;
    font-size: 1.6rem;
    padding: 1.5rem;
    margin-bottom: 0px;
}
	
}
@media screen and (max-width: 768px){
	
	li.ext-related-articles-card
{
    background-color: #fff;
    box-sizing: border-box;
    height: 80px;
    position: relative;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
	margin: 0 auto;
}

	nav a {
		width: 109px;
	}
	
	
	div.icon-bar
	{
    margin-right: 20px;	}
	}
	@media screen and (max-width: 640px){
		a.margin-left{
			    margin-left: -17px;
		}
	button {
    font-size: 11px;
}
}
@media screen and (max-width: 580px) {
		ul.ext-related-articles-card-list{
		   font-size: 15px;
	}
	a.margin-left {
    margin-left: 0px;
}
		span.release-date
{

    font-size: 13px;
  
}
		span.track
{
    font-size: 16px;
 
}

		a.nav-icons
{
	    background: #f1f1f100;
		width: unset;
		text-indent: unset;
		letter-spacing: 14px;
}
div.icon-bar {
 	position: relative;
	    margin-top: -58px;
		float: right;
		
    margin-right: 48px;
}
	nav a:hover {
    
	      text-decoration: none;
		  
}
	.modal-header {
    
    font-size: large;
 
}
.modal-header h2, .modal-footer h3 {
  
	      font-size: larger;
}
		p.modal-h
{

	FONT-SIZE: 1.1rem;
}
p.modal-p
{
	 color: #282627;
	 FONT-SIZE: 16PX;
}
button.btn.btnD2 {
    padding: 19px 16px;
    font-size: 11.5px;
}
	h2.content1
{
	display: block;
	
}
h2.content2
{
	display: none;
}
div.content1
{
	display: block;
	  width: 100%;
	  margin: 0 auto;
}

div.content2
{
	display: none;
}
	button.categories_btn {
    margin: 4px 0;
    padding: 20px 30px;
}
button.categories_btn0 {
	 padding-left: 12px;
    padding-right: 12px;

}

	p {
    FONT-SIZE: 18PX;
}
h2 {
    font-size: 23px;
    color: #8D8273;
}
	h1 {
    font-size: 44px;
    color: #FFF;
    FONT-WEIGHT: 100;
	}
	}

@media screen and (max-width: 480px) {

	span.release-date
{

    font-size: 13px;
  
}
	svg {
    width: 17px;

}
	span.track
{
    font-size: 15px;
 
}

	span.LEFTINTHEDARK
	{
		display: none;
	}
	span.LITD
	{
		display: block;
}
	.modal-header {
		
    font-size: large;

}
.modal-header h2, .modal-footer h3 {

	      font-size: larger;
}
.close {

    font-size: 20px;
  
}
			p.modal-h
{

	FONT-SIZE: 1rem;
}
p.modal-p
{
	 color: #282627;
	 FONT-SIZE: 15PX;
}
button.btn.btnD2 {
    padding: 18px 20px;
    font-size: 11px;
}
	div.content1 {
    
    width: 100%;
}
	button {
   padding: 18px 25px;
    font-weight: bold;
 
}
	p {
    FONT-SIZE: 17PX;
}
	h1 {
    font-size: 30px;
    color: #FFF;
    FONT-WEIGHT: 100;
}
h2 {
    font-size: 21px;
    color: #8D8273;
}
	footer span {
      color: #343233;
      font-weight: 600;
	    font-size: 1rem;
}
figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    width: 100%;
    font-size: 1.4rem;
    padding: 1.1rem;
}
}
@media screen and (max-width: 580px) {


		.sci li {
    font-size: 1.7rem;
	    margin: 0 3%;
   
}
      nav {
            height: auto;
            border-bottom: 0;
      }

      nav ul {
            display: none;
            height: auto;
      }

      nav li {
            width: 100%;
            float: left;
            position: relative;
      }

      nav a {
            text-align: left;
            width: 100%;
            text-indent: 25px;
            background: #f1f1f1;
            color: #28262;
      }

      nav a:hover {
            color: #6C6C6C;
      }

      nav a#toggle-btn:after {
            content: "|||";
            transform: rotate(-90deg);
            width: 40px;
            height: 40px;
            display: inline-block;
            position: absolute;
            right: 5px;
            top: 20px;
      }

      nav a#toggle-btn {
            display: block;
            background: #ffffff;
            color: #282627;
            width: 100%;
            position: relative;
      }

      .menu:before, .menu:after {
            content: "";
            display: table;
      }

      .menu:after {
            clear: both;
      }

      .menu {
            zoom: 1;
      }
}

/* landing-page content */

.section-hero {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow-y: hidden;
}

.section-hero .container {
      margin-top: 34vh;
}

.section-hero h2 {
      color: #8D8273;
}
@media screen and (max-height: 480px){
.section-hero .container {
    margin-top: 20vh;
}
}
@media screen and (max-width: 580px) {
 
      .section-hero p {
            display: none;
      }
}

/* overview */

#overview {
      background: #282627;
      padding: 8rem 0;
}

.overview-content {
      display: grid;
      grid-gap: 80px;
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
}

@media screen and (max-width: 580px) {
      .overview-content {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(1, 1fr);
            text-align: left;
      }
}

/* about section */

#about {
      padding: 8rem 0;
}

#about h2 {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 14px;
      letter-spacing: 12px;
      margin-bottom: 2em;
}

/* features */

#features {
      background: #282627;
      padding: 8em 0;
}

.features-content {
      display: grid;
      grid-gap: 80px;
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
}
@media screen and (max-width: 580px) {
      .features-content {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(1, 1fr);
            text-align: left;
      }
}

/* subscribe section */

#subscribe {
      background: #343233;
      padding: 8em 0;
}

#subscribe h2 {
      color: #8D8273;
}

#subscribe input {
      width: 80%;
      margin: 2em 0;
      background: none;
      border: 1px solid #8D8273;
      padding: 20px;
      font-family: Roboto;
      font-weight: 400;
      color: rgb(211, 165, 100);
}
@media screen and (max-width: 792px){

#subscribe input {
    width: 80%;
    margin: 1em 0;
    background: none;
    border: 1px solid #8D8273;
    padding: 17px;
    font-family: Roboto;
    font-weight: 400;
    color: rgb(211, 165, 100);
}
}
@media screen and (max-width: 580px){
#subscribe input {
    width: 100%;
    margin: 1em 0;
    background: none;
    border: 1px solid #8D8273;
    padding: 12px;
    font-family: Roboto;
    font-weight: 400;
    color: rgb(211, 165, 100);
}

textarea.form-control.textarea {
  width: 100%;
}
}

#subscribe input:focus {
      border: none;
      outline: none;
      border: 2px solid #8D8273;
}

input::placeholder {
      color: #8D8273;
      text-transform: uppercase;
      font-weight: 400;
}
textarea.form-control.textarea::placeholder {
      color: #8D8273;
      text-transform: uppercase;
      font-weight: 400;
}
/* footer */

footer {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 3em 20px;
      background: #ffffff;
}


